.form-producer-page {
  /* min-height: calc(100dvh - 60px); */
  background-color: #fefefe;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.form-producer-box {
  background: white;
  padding: 36px 32px;
  border-radius: 16px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 600px;
}

.form-producer-box h2 {
  font-size: 28px;
  font-weight: 700;
  color: #0077cc;
  margin-bottom: 24px;
  text-align: center;
}

.form-producer-box .description {
  font-size: 16px;
  color: #34495e;
  margin-bottom: 24px;
  text-align: center;
  font-style: italic;
}

.form-producer-box form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-producer-box label {
  font-weight: 500;
  color: #34495e;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.radio-option {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: #2c3e50;
  background: #f5f7f9;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #ccddee;
  transition: border 0.2s;
}

.radio-option:hover {
  border-color: #0077cc;
}

.radio-option input[type='radio'] {
  accent-color: #0077cc;
  width: 18px;
  height: 18px;
}

.option-title {
  font-weight: 600;
  color: #2c3e50;
  display: block;
}

.option-description {
  font-size: 14px;
  color: #5c6b78;
  margin-top: 6px;
  line-height: 1.4;
}

.form-producer-box input[type='text'],
.form-producer-box input[type='file'],
.form-producer-box select,
.form-producer-box textarea {
  margin-top: 6px;
  padding: 10px 14px;
  font-size: 15px;
  border: 1.5px solid #ccddee;
  border-radius: 10px;
  font-family: inherit;
  resize: vertical;
}

.form-producer-box button {
  background-color: #0077cc;
  color: white;
  font-weight: 600;
  padding: 14px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 8px;
}

.form-producer-box button:hover {
  background-color: #005fa3;
}

.map-wrapper {
  margin-top: 8px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.idea-box-optional {
  font-weight: normal;
  font-style: italic;
  color: #888;
  font-size: 14px;
  margin-left: 4px;
}

.geo-hint {
  text-align: right;
  margin-top: 0;
  font-size: 14px;
  color: #555;
}

.geo-hint-text {
  color: #0077cc;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
  font-size: 14px;
  font-family: inherit;
}

.geo-hint-text:hover {
  color: #005fa3;
}
