.form-producer-page {
  /* min-height: calc(100dvh - 60px); */
  background-color: var(--color-bg-light);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.form-producer-box {
  background: white;
  padding: 36px 32px;
  border-radius: 16px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 600px;
}

.form-producer-box h2, .form-step-header h2 {
  font-size: 28px;
  /* font-weight: 700; */
  color: var(--color-primary);
  margin-bottom: 24px;
  text-align: center;
}

.form-step-header .step-header h2 {
  color: var(--color-dark);
  align-self: flex-start;
}

.form-producer-box .description, .form-step-header .description {
  font-size: 16px;
  color: var(--color-dark);
  margin-bottom: 24px;
  text-align: center;
  font-style: italic;
}

.form-producer-box form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-producer-box label {
  font-weight: 500;
  color: var(--color-dark);
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.radio-option {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: var(--color-font);
  background: var(--color-background);
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid var(--color-border);
  transition: border 0.2s;
}

.radio-option:hover {
  border-color: var(--color-primary);
}

.radio-option input[type='radio'] {
  accent-color: var(--color-primary);
  width: 18px;
  height: 18px;
}

.option-title {
  font-weight: 600;
  color: var(--color-font);
  display: block;
}

.option-description {
  font-size: 14px;
  color: var(--color-font-light-neutral);
  margin-top: 6px;
  line-height: 1.4;
}

.form-producer-box input[type='text'],
.form-producer-box input[type='file'],
.form-producer-box select,
.form-producer-box textarea {
  margin-top: 6px;
  padding: 10px 14px;
  font-size: 15px;
  border: 1.5px solid var(--color-border);
  border-radius: 10px;
  font-family: inherit;
  resize: vertical;
}

.form-producer-box button {
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  padding: 14px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 8px;
}

.form-producer-box button:hover {
  background-color: var(--color-primary-hover);
}

.idea-box-optional {
  font-weight: normal;
  font-style: italic;
  color: var(--color-font-light-neutral);
  font-size: 14px;
  margin-left: 4px;
}

.add-producer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-light);
  min-height: 100dvh;
  padding: 10px 20px;
}

.step-indicator {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
}

.step-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--color-border);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.step-bullet.active {
  background-color: var(--color-primary);
  transform: scale(1.2);
}

.form-producer-wrapper {
  background: white;
  border-radius: 16px;
  /* box-shadow: 0 12px 28px var(--color-box-shadow); */
  padding: 0px 40px;
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
}

.form-producer-wrapper label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--color-font);
  font-size: 15px;
}

.form-producer-wrapper input[type="text"],
.form-producer-wrapper input[type="email"],
.form-producer-wrapper input[type="file"],
.form-producer-wrapper select,
.form-producer-wrapper textarea {
  padding: 10px 14px;
  font-size: 15px;
  border: 1.5px solid var(--color-border);
  border-radius: 10px;
  font-family: inherit;
  width: 100%;
  resize: vertical;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-producer-wrapper input[type="text"]:hover,
.form-producer-wrapper input[type="email"]:hover,
.form-producer-wrapper input[type="file"]:hover,
.form-producer-wrapper select:hover,
.form-producer-wrapper textarea:hover,
.form-producer-wrapper input[type="text"]:focus,
.form-producer-wrapper input[type="email"]:focus,
.form-producer-wrapper input[type="file"]:focus,
.form-producer-wrapper select:focus,
.form-producer-wrapper textarea:focus {
  border-color: var(--color-primary); 
}

.form-producer-wrapper input[type="text"]:focus,
.form-producer-wrapper input[type="email"]:focus,
.form-producer-wrapper input[type="file"]:focus,
.form-producer-wrapper select:focus,
.form-producer-wrapper textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-box-shadow); 
}

.category-list {
  display: flex;
  gap: 12px;
  width: 100%;
}

.category-card {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 14px; */
  border: 2px solid var(--color-border);
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  /* transition: border-color 0.2s, background-color 0.2s; */
  text-align: center;
  min-width: 0;

  /* min-width: 220px; */
  /* flex: 0 0 auto; */
  /* border: none !important; */
  padding: 0;
  scroll-snap-align: start;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.category-card:hover {
  border-color: var(--color-primary);
  background-color: white !important;
  /* border-color: var(--color-primary);
  background-color: var(--color-hover); */
}

.category-card:hover .category-name-wrapper .category-name {
  color: var(--color-primary);
}

.category-card.selected {
  border-color: var(--color-primary);
  /* background-color: var(--color-primary-light); */
  box-shadow: 0 0 0 3px var(--color-box-shadow); 
}

.category-card.selected .category-name-wrapper .category-name {
  color: var(--color-primary);
}

.category-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  /* margin-bottom: 8px; */
}

.category-name-wrapper {
  flex: 1; 
  display: flex;
  align-items: center;  
  justify-content: center;
}

.category-name-wrapper .category-name {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: var(--color-dark);
}

.geo-hint {
  text-align: right;
  margin-top: 0;
  font-size: 14px;
  color: #555;
  margin-bottom: 0;
}

.geo-hint-text {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: underline;
}

.geo-hint-text {
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
  font-size: 14px;
  font-family: inherit;
  margin-top: 10px;
}

.geo-hint-text:hover {
  color: var(--color-primary-hover);
}

.map-wrapper {
  margin-top: 4px;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.photo-preview-wrapper {
  position: relative;
  margin-top: 12px;
  display: inline-block;
}

.photo-preview {
  /* max-width: 240px;
  max-height: 180px; */
  max-width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1.5px solid var(--color-border);
  display: block;
}

.photo-remove-btn {
  position: absolute;
  top: 3px;
  right: 6px;
  background: rgba(255, 255, 255, 0.7) !important; /* прозорий білий фон */
  border: none;
  border-radius: 50% !important;
  padding: 6px 8px !important;
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
  color: var(--color-coral-red) !important;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease, background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

.photo-preview-wrapper:hover .photo-remove-btn {
  opacity: 1;
  pointer-events: auto;
}

.form-producer-wrapper .steps {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 24px;
}

.form-producer-wrapper .step-one {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.form-producer-wrapper .step-one button, .form-producer-wrapper .steps button {
  background-color: white;
  color: var(--color-primary);
  font-weight: 600;
  padding: 6px 20px;
  border: 2px solid var(--color-primary);;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  margin-top: 8px;
}

.form-producer-wrapper button:hover {
  background-color: var(--color-primary);
  color: white;
}

.step-transition {
  opacity: 0;
  transform: translateX(20px);
  animation: fadeSlideIn 0.4s ease forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}