@import "leaflet/dist/leaflet.css";

/* -------- Navbar --------- */
@import url("./Navbar.css");
/* -------- Home --------- */
@import url("./Home.css");

body {
  margin: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background: #f3f3f3;
  overflow-y: auto;
}

.map-container {
  flex-grow: 1;
  position: relative;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

