@import "leaflet/dist/leaflet.css";

/* -------- Navbar --------- */
@import url("./Navbar.css");
/* -------- Footer --------- */
@import url("./Footer.css");
/* -------- Home --------- */
@import url("./Home.css");
/* -------- Awning --------- */
@import url("./Awning.css");
/* -------- CategoryStand --------- */
@import url("./CategoryStand.css");
/* -------- Register --------- */
@import url("./Register.css");
/* -------- Login --------- */
@import url("./Login.css");
/* -------- AddProducer --------- */
@import url("./AddProducer.css");
/* -------- Sidebar --------- */
@import url("./Sidebar.css");
/* -------- Map --------- */
@import url("./Map.css");
/* -------- Legal --------- */
@import url("./Legal.css");

:root {
  --color-primary: #0077cc;
  --color-hover: #005fa3;
  --color-dark: #34495e;
  --color-crimson: #e63946;
  --color-coral-red: #ff4d4d;
  --color-bg: #fefefe;
  --color-border: #ccddee;
  --radius: 12px;
  --shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%; /* щоб 100% висота працювала на корені */
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-dark);
}

input, select, textarea, button {
  font-family: inherit;
  font-size: 15px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1.5px solid var(--color-border);
  transition: 0.2s;
}

button {
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-hover);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}