.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  background-color: white;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Segoe UI', sans-serif;
  gap: 16px;
}

.logo {
  flex-shrink: 0;
}

.logo a {
  font-weight: 700;
  font-size: 22px;
  color: var(--color-primary);
  text-decoration: none;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.mobile-search-bar {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  padding: 0 16px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
}

.mobile-search-bar.open {
  max-height: 80px;
  opacity: 1;
  padding: 8px 16px;
}

.mobile-search-bar input {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccddee;
  border-radius: 8px;
  outline: none;
}

.search-bar input {
  width: 100%;
  max-width: 480px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccddee;
  border-radius: 8px;
}

/* Правий блок */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

/* Меню */
.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav-links li a, .lang-select, .lang-dropdown li {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 500;
}

.nav-links li a:hover, 
.lang-select:hover, 
.lang-dropdown li:hover,
.mobile-lang:hover,
.search-icon:hover {
  color: var(--color-primary);
}

.lang-select, .mobile-lang {
  padding: 6px 4px;
  border-radius: 6px;
  /* border: 1px solid #ccddee; */
  border: none;
  background: transparent; 
  /* font-size: 14px; */
  font-family: inherit;
  cursor: pointer;
}

.lang-select i, .mobile-lang i {
  margin-left: 5px;
}

.mobile-lang {
  display: none;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

/* Mobile only */
.search-icon {
  display: none;
  background: none;
  /* border: none; */
  color: var(--color-dark);
  padding: 0;
  font-size: 18px;
  cursor: pointer;
}

.search-icon {
  color: var(--color-hover);
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  padding: 0;
}

.search-icon:hover, .burger:hover {
  background-color: transparent;
}

.line {
  height: 3px;
  background-color: var(--color-dark);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.line.open:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
}
.line.open:nth-child(2) {
  opacity: 0;
}
.line.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px);
}

/* Responsive */
@media (min-width: 787px) {
  .mobile-search-bar {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .search-bar {
    display: none;
  }

  .search-icon {
    display: block;
  }

  /* .mobile-search-bar {
    display: flex;
    padding: 8px 16px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
  }

  .mobile-search-bar input {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccddee;
    border-radius: 8px;
  } */

  .lang-select {
    display: none;
  }

  .mobile-lang {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    background: white;
    flex-direction: column;
    gap: 16px;
    padding: 16px 32px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-200%);
    transition: transform 0.3s ease;
  }

  .nav-links.open {
    transform: translateY(0);
  }

  .burger {
    display: flex;
  }
}