.notfound-page {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #e3e6ea;
  min-height: calc(var(--app-height, 100vh) - 100px);
}

.notfound-wrapper {
  background: white;
  border-radius: 16px;
  padding: 50px 40px;
  max-width: 900px;
  width: 90%;
  text-align: center;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.1);
}

.notfound-wrapper h2 {
  font-size: 28px;
  font-weight: 700;
  color: #0077cc;
  margin-bottom: 24px;
  text-align: center;
}

.notfound-wrapper p {
  font-size: 16px;
  color: #34495e;
  margin-bottom: 24px;
  text-align: center;
  font-style: italic;
}

.notfound-link {
  display: inline-block;
  margin-bottom: 36px;
  background-color: #0077cc;
  color: white;
  padding: 12px 24px;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.notfound-link:hover {
  background-color: #005fa3;
}

.suggested-categories h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 22px;
}

.notfound-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 36px;
  flex-wrap: wrap;
}

.notfound-map-btn {
  background-color: #f57c00;
  color: white;
  padding: 12px 24px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.notfound-map-btn:hover {
  background-color: #ef6c00;
}


/* .category-stands-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
} */
